body{
    font-family:sans-serif;
    image-rendering: pixelated;
    background-color:#0f122c;
    background-image:url(../images/background.png);
    background-size: cover;
    background-attachment:fixed;
}

.noborder{
    margin:0.25em;
    padding:0.5em;
}
.item, .itemimg, .divider{
    margin:1em;
    padding:0.75em 1em 1em;

    background-color:#74187a80;
    color:white;

    border-radius:1em;
}
.itemimg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemimg img{
    width:100%;
}
.divider{
    background-color:#40187a80;
}

h1{
    line-height:0.25em;
    font-weight:bolder;
}
h2 h3{
    line-height:0.25em;
}

a:link { color: #184fa8; } 
a:visited { color: #1c293d; } 
a:focus { color: #214072;} 
a:hover { color: #214072;} 
a:active { color: #411b46;}

#header{
    grid-area:header;
    text-align:center;
    color:white;
}
#header h1{
    font-size:4em;
}

#chngimg{
    grid-area:chngimg;
}
#chngtxt{
    grid-area:chngtxt;
}

#skelimg{
    grid-area:skelimg;
}
#skeltxt{
    grid-area:skeltxt;
}

#ffimg{
    grid-area:ffimg;
}
#fftxt{
    grid-area:fftxt;
}

#footer{
    display:flex;
    justify-content: space-around;
    align-items: center;

    grid-area:footer;
    padding: 1em 0;
    text-align:center;
    font-size:1.25em;
    font-weight:bold;
}

#wrapper{
    display:grid;
    grid-template-columns:40% auto 40%;
    grid-template-areas:"header  header  header"
                        "chngtxt chngtxt chngimg"
                        "skelimg skeltxt skeltxt"
                        "fftxt   fftxt   ffimg"
                        "footer  footer  footer";
    max-width: 1200px;
    margin:auto;
}

a:link{
    color:#ff1038;
}

a:visited {
    color: #a50808;
}

a:hover {
    color: #ff5252;
}

a:active {
    color: #ff9999;
} 